extends layout

block content
  div
    h1 Unreported Activities Records

  br

  div
    table(align="center")
        thead
          tr
            th With Whom
            th File No.
            //th(width="200px") Date Range
            th # of Activites
            th Generate Report
        tbody
          - for (var i=0; i<subjects.length; i++) {
            tr
              td= subjects[i].name
              td= subjects[i].fileNo
              td(align="center")= subjects[i].activities.length
              td
                - for (var j=0; j<subjects[i].reportDates.length; j++) {
                  - if (j != 0) {
                  | &nbsp;/&nbsp;
                  - }
                  a(href='/report/'+ subjects[i].id +'/'+ subjects[i].reportDates[j].year +'/'+ subjects[i].reportDates[j].month) #{subjects[i].reportDates[j].year}-#{subjects[i].reportDates[j].month}
                - }
          - }

  br

  div(align='center')
    a(href='/footer') Report Footer

